/app/database/config/*
/app/install/*.sql
!/app/install/dais.sql
/app/storage/cache/*
/app/storage/logs/*
/app/storage/session/admin/*
/app/storage/session/front/*
/app/storage/views/*
/app/storage/migrations/*
/app/front/controller/tool/test.php
/bootstrap/*.json
# change this to /public/image/* once cloned
/public/image/cache/*
/public/asset/*/compiled/*
/vendor
.DS_Store
Thumbs.db
!.gitkeep
