Options -Indexes
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^sitemap.xml$ public/index.php?route=feed/googlesitemap [L]
	RewriteRule ^googlebase.xml$ public/index.php?route=feed/googlebase [L]
	RewriteRule ^download/(.*) public/index.php?route=error/notfound [L]
	RewriteRule ^(.*)/$ /$1 [L,R=301]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^asset/(.*)$ public/asset/$1 [L]
	RewriteRule ^image/(.*)$ public/image/$1 [L]
	RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|txt)
	RewriteRule ^([^?]*) public/index.php?_route_=$1 [L,QSA]
</IfModule> 