<FilesMatch "\.(tpl|ini|log)">
	Order deny,allow
	Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options +FollowSymlinks
        Options -Indexes
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteRule ^sitemap.xml$ feed/googlesitemap [L]
	RewriteRule ^googlebase.xml$ feed/googlebase [L]
	RewriteRule ^download/(.*) error/notfound [L]
    RewriteRule ^api?/?(.*) api.php [L,QSA]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|txt|html|woff|ttf|eot|svg|css|js)
	RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]
</IfModule>
